<div class="jumbotron jumbotron-fluid pageTitle">
    <div class="container">
        <!--put something more descriptive in the title at a later date?-->
        <h1 class="display-4 pageTitle">Travel Search</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title searchTitle">
                    Search for Events by City:
                </h5>
                <form class="form-inline" method="POST" action="/api/citySearch">
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="fromTitle">City:</p>
                        <input type="text" class="form-control" id="cityEvent" placeholder="City input"
                            name="cityEvent" />
                    </div>

                    <h5 class="card-title searchTitle">Which airports will you be using for your trip? </h5>
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="fromTitle">From:</p>
                        <input type="text" class="form-control" id="cityFrom" name="cityFrom" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="toTitle">To:</p>
                        <input type="text" class="form-control" id="cityTo" name="cityTo" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="departure">Departure Date:</p>
                        <input type="date" class="form-control" id="departureDate" name="departureDate" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="return">Return Date:</p>
                        <input type="date" class="form-control" id="returnDate" name="returnDate" />
                    </div>
                    <div id="centerBtn">
                        <button type="submit" class="btn btn-primary mb-2" id="searchCity">
                            <span class="searchBtn">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-8">
            <div class="card-body">
                <div class="eventSearchResults row">
                    {{#each events}}

                    <div class="col-md-6">
                        <div class="boldTitle">{{eventName}}</div>
                        Date: {{eventDate}}<br>
                        Time: {{eventTime}}<br>
                        Venue: {{eventVenue}}<br>
                        <a href="{{eventUrl}}" target="_blank">More info!</a>
                        {{> events/event-block saved=false category="event" eventName=this.eventName eventDate=this.eventDate eventVenue=this.eventVenue eventUrl=this.eventUrl}}
                        <hr>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-8">
            <div class="card-body">
                <div class="flightSearchResults row">

                    <!--shows airline, price, duration, departure/arrival dates, needs to include departure/arrival times-->
                    {{#each flights}}
                    <div class="col-md-4">
                        <div class="boldTitle">Airline: {{Airline}}</div>
                        Price: ${{Price}}<br>
                        Duration: {{Duration}}<br>
                        Departure: {{DepartureTime}}<br>
                        Arrival: {{ArrivalTime}}<br>
                        {{> flights/flight-block saved=false category="flight" flightAirline=this.Airline flightPrice=this.Price flightduration=this.Duration flightDepartureTime=this.DepartureTime flightArrivalTime=ArrivalTime}}
                        <hr>
                    </div>
                    {{/each}}


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-8">
            <div class="card-body">
                <div class="savedResults row">
                    <div class="col-md">
                        <h4 id="savedCityName">Chicago</h4>
                    </div>

                    <div class="col-md" id="savedEventDetails">
                        <span class="savedEventDetails">

                            <h4 id="savedEventName">Eagles</h4>
                            <p id="savedEventDate">2020-03-28</p>
                            <p id="savedEventTime">20:00:00</p>
                            <p id="savedEventVenue">Pepsi Center</p>
                            <a id="savedEventURL"
                                href="https://www.ticketmaster.com/eagles-denver-colorado-03-28-2020/event/1E005751F9E1AF02"
                                targe="_blank">Event Details</a>
                        </span>
                        <div class="col-md-3">

                            <div class="event-name"></div>
                            <!--date, time, price-->
                            <div class="event-info"><br><br></div>
                        </div>
                        <span class="savedFlightDetails">
                            <div class="col-md-4">
                                <h4 id="savedAirlineName">Airline: AA</h4>
                                <p id="savedFlightPrice">Price: 799</p>
                                <p id="savedFlightDuration">DurationDuration: 3h 48m</p>
                                <p id="savedDepartureDate">: 27/02/2020</p>
                                <p id="savedArrivalDate">Arrival: 27/03/2020</p>
                                <div class="col-md-3">
                                    <div class="flight-airline"></div>
                                    <!--price, date, departure time, arrival time, airport change-->
                                    <button data-flightid="" class="btn btn-primary saved-itinerary" data-saved="false">
                                        Save </button>
                                </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://kit.fontawesome.com/5a59e9708f.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/airport-autocomplete-js@latest/dist/index.browser.min.js"></script>
<script src="/js/searchResults.js""></script>
<!--insert other js links here-->