<div class="jumbotron jumbotron-fluid pageTitle">
    <div class="container">
        <!--put something more descriptive in the title at a later date?-->
        <h1 class="display-4 pageTitle">Travel Search</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title searchTitle">
                    Search for Events by City:
                </h5>
                <form class="form-inline" method="POST" action="/api/citySearch">
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="fromTitle">City:</p>
                        <input type="text" class="form-control" id="cityEvent" placeholder="City input"
                            name="cityEvent" />
                    </div>

                    <h5 class="card-title searchTitle">Which airports will you be using for your trip? </h5>
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="fromTitle">From:</p>
                        <input type="text" class="form-control" id="cityFrom" name="cityFrom" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="toTitle">To:</p>
                        <input type="text" class="form-control" id="cityTo" name="cityTo" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="departure">Departure Date:</p>
                        <input type="date" class="form-control" id="departureDate" name="departureDate" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="return">Return Date:</p>
                        <input type="date" class="form-control" id="returnDate" name="returnDate" />
                    </div>
                    <div id="centerBtn">
                        <button type="submit" class="btn btn-primary mb-2" id="searchCity">
                            <span class="searchBtn">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body container">
                <div class="eventSearchResults row">
                    <p>"Hello you are in search results</p>
                    <div class="event-name">
                        {{#each events}}
                        {{eventName}}
                        {{eventDate}}
                        {{eventTime}}
                        {{eventVenue}}
                        {{eventUrl}}
                        {{> events/event-block saved=false}}
                        {{/each}}</div>
                </div>

                <!--{{#each events}}
                    {{#unless saved}}
                    {{eventName}}
                    {{> events/event-block saved=false}}
                    {{/unless}}
                    {{/each}}
                    {{#each flights}}
                    {{#unless saved}}
                    {{Price}}
                    {{> flights/flight-block saved=false}}
                    {{/unless}}
                    {{/each}}-->

                <!-- <form action="/citySearch/flight/{{queryId}}/{{eventName}}" method="get">
                        <input type="submit" value="See More!">
                    </form> -->



                <!--{{#if dispFlight}}
                    {{flight.eventName}}
                    {{/if}}-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="flightSearchResults row">
                        <div class="flight-name">
                        {{#each flights}}
                        {{Airline}}
                        {{Price}}
                        {{Duration}}
                        {{DepartureTime}}
                        {{ArrivalTime}}
                        {{> flights/flight-block saved=false}}
                        {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://kit.fontawesome.com/5a59e9708f.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/airport-autocomplete-js@latest/dist/index.browser.min.js"></script>
<script src="/js/searchResults.js""></script>

<!--insert other js links here-->