<div class="jumbotron jumbotron-fluid pageTitle">
    <div class="container">
        <!--put something more descriptive in the title at a later date?-->
        <h1 class="display-4 pageTitle">Travel Search</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title searchTitle">
                    Search for Events by City:
                </h5>
                <form class="form-inline" method="POST" action="/api/citySearch">
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="fromTitle">City:</p>
                        <input type="text" class="form-control" id="cityEvent" placeholder="City input"
                            name="cityEvent" />
                    </div>

                    <h5 class="card-title searchTitle">Which airports will you be using for your trip? </h5>
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="fromTitle">From:</p>
                        <input type="text" class="form-control" id="cityFrom" name="cityFrom" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="toTitle">To:</p>
                        <input type="text" class="form-control" id="cityTo" name="cityTo" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="departure">Departure Date:</p>
                        <input type="date" class="form-control" id="departureDate" name="departureDate" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <p id="return">Return Date:</p>
                        <input type="date" class="form-control" id="returnDate" name="returnDate" />
                    </div>
                    <div id="centerBtn">
                        <button type="submit" class="btn btn-primary mb-2" id="searchCity">
                            <span class="searchBtn">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-8">
            <div class="card-body">
                <div class="eventSearchResults row">
                    <h4>Choose Your Events:</h4>
                    {{#each events}}

                    <div class="col-md-6">
                        <div class="boldTitle">{{eventName}}</div>
                        Date: {{eventDate}}<br>
                        Time: {{eventTime}}<br>
                        Venue: {{eventVenue}}<br>
                        <a href="{{eventUrl}}" target="_blank">More info!</a>
                        {{> events/event-block saved=false category="event" eventName=this.eventName eventDate=this.eventDate eventVenue=this.eventVenue eventUrl=this.eventUrl}}
                        <hr>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-8">
            <div class="card-body">
                <div class="flightSearchResults row">
                    <h4>Are you in? Book Your Flight:</h4>
                    <!--shows airline, price, duration, departure/arrival dates, needs to include departure/arrival times-->
                    {{#each flights}}
                    <div class="col-md-4">
                        <div class="boldTitle">Airline: {{Airline}}</div>
                        Price: ${{Price}}<br>
                        Duration: {{Duration}}<br>
                        Departure: {{DepartureTime}}<br>
                        Arrival: {{ArrivalTime}}<br>
                        {{> flights/flight-block saved=false category="flight" flightAirline=this.Airline flightPrice=this.Price flightduration=this.Duration flightDepartureTime=this.DepartureTime flightArrivalTime=ArrivalTime}}
                        <hr>
                    </div>
                    {{/each}}


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-8">
            <div class="card-body">
                <div class="savedResults row">

                </div>
                {{!-- Button --}}
                <div class="col-md-3">
                    <div class="flight-airline"></div>
                    <!--price, date, departure time, arrival time, airport change-->
                    <button data-flightid="" class="btn btn-primary saved-itinerary" data-saved="false">
                        Save Itinerary >></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-3">
        <button id="search-logout" class="btn btn-primary seeInfo m-3">Logout</button>
        <button id="saved-itinerary" class="btn btn-primary seeInfo m-3">Your Saved Itineraries >></button>
    </div>
</div>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://kit.fontawesome.com/5a59e9708f.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/airport-autocomplete-js@latest/dist/index.browser.min.js"></script>
<script src="/js/searchResults.js""></script>
<!--insert other js links here-->