<div class="jumbotron jumbotron-fluid pageTitle">
    <div class="container">
        <h1 class="display-4 pageTitle">Saved Itineraries</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="card col-md">
            <div class="card-body">
                <div class="eventSearchResults row">
                    {{#each info}}
                    <div class="col-md-3">
                        <div class="trip-name">{{dataValues.cityName}}</div>
                        <!--date, time, price-->
                        <div class="event-info">{{dataValues.departureDate}} - {{dataValues.arrivalDate}}</div>
                        <div id="{{dataValues.id}}" class="hiddenItinerary">
                            <div class="boldTitle">Flights</div>
                            {{#each Flights}}
                            <!--figure out airlines? departure time? arrival time? make sure it is in the db-->
                            <!--<div>{{dataValues.airlines}}</div>-->
                            <div>Price: ${{dataValues.price}}</div>
                            <div>Departure Date: {{dataValues.departureDate}}</div>
                            <div>Arrival Date: {{dataValues.arrivalDate}}</div>
                            {{/each}}
                            <div class="boldTitle">Events</div>
                            {{#each Events}}
                            <!--figure out event name? make sure it is in the db-->
                            <!--<div>{{dataValues.name}}</div>-->
                            <div>Price: ${{dataValues.price}}</div>
                            <div>Date: {{dataValues.date}}</div>
                            <div>Time: {{dataValues.time}}</div>
                            {{/each}}
                        </div>
                        <button data-id="{{dataValues.id}}" class="btn btn-primary seeInfo">Itinerary</button>
                    </div>
                    <!--sort out hidden information to show if button is clicked-->
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://kit.fontawesome.com/5a59e9708f.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/airport-autocomplete-js@latest/dist/index.browser.min.js"></script>
<script src="/js/itinerary.js"></script>
<!--insert other js links here-->