<div class="col-md-3">
    <button data-saved={{saved}} data-category={{category}} data-eventName={{eventName}} data-eventDate={{eventDate}}
        data-eventTime={{eventTime}} data-eventVenue={{eventVenue}} data-eventUrl={{eventUrl}}
        class="btn btn-primary change-saved">
        {{#if saved}}RETURN TO LIST >>{{else}} Save {{/if}} </button>
</div>